{%extends "base.html"%}
{%block title%}Add Pet{%endblock%}

{%block content%}
<div class="container" style="width:50vw">
    <h1>Add Pet</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        {%for field in form if field.widget.input_type != 'hidden'%}
        <p>
            {{field.label}}
            {{field(class_="input-group")}}

            {%for error in field.errors%}
            <small class="form-text text-danger">{{error}}</small>
            {%endfor%}
        </p>
        {%endfor%}
        <button class="btn btn-success btn-lg">Submit</button>
        <a href="/" class="btn btn-danger btn-lg">Go Back</a>
    </form>
</div>
{%endblock%}